body{
    background-color: #F5F5F5;
    margin: auto;
}

 /*Estilos para la pestaña index*/

.container-nav{
    display: flex;
    background-color: #36bed9;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.my-name{
    text-decoration: none;
    font-size: 40px;
    color: white;
    margin-right: 250px;
}

.pestaña{
    border: solid white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
    transition-property: background;
    transition-duration: 650ms; 
}

.pestaña:hover{
    background: black;
}

.about-me{
    text-decoration: none;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 40px;
    color: white;
}

.curriculum-vitae{
    text-decoration: none;
    margin-right: 35px;
    margin-left: 35px;
    font-size: 40px;
    color: white;
}

.section{
    margin-top: 60px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.flex-container div p{
    margin-left: 25px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.photo{
    margin: 0px 15px 0px 15px;

}

.text{
    width: 500px;
    text-align: justify;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #36bed9;
    margin-top: 190px;

}

.social-media img{
    border-radius: 20px;
    width: 40px;
    align-items: center;
    transition-property: background;
    transition-duration: 650ms;    
}


.social-media a{
    margin:  0px 10px 0px 10px;
}

.social-media img:hover{
    background: black;
}

.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/*Estilos para la pestaña cv*/

.flex-cv{
    display: flex;
    flex-direction: row;

}


.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 250px;
}

.text-cv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 130px;
    width: 700px;
    text-align: justify; 
}

.text-items{
    margin-left: 180px;
}


.skills{
    margin: 0px 0px 0px 50px;

}

.skills h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.skills img{
    margin: 0px 0px 50px 100px;
}

.hr-section{
    height: 2px;
    background-image: -webkit-linear-gradient(left,transparent,#36bed9,transparent);
    border: 0;
}



/*Estilos compartidos en ambas pestañas*/
