 /*Estilos para la pestaña index*/
.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.flex-container p{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    width: 30%;
    margin: auto;
    text-align: justify;
}

.flex-container img{
    height: 450px;
    width: 450px;
    margin: 0px 15px 40px 80px;
}

/*Estilos para la pestaña cv*/
.section{
    width: 100%;
    margin: 0 auto;
}

.education{
    justify-content: center;
}

.section h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.text-cv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 130px;
    width: 700px;
    text-align: justify; 
    font-size: 20px;
}

.text-items{
    margin-left: 180px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section{
    margin-top: 60px;
}

.hr-section{
    height: 2px;
    background-image: -webkit-linear-gradient(left,transparent,#36bed9,transparent);
    border: 0;
}

.box{
    margin: 0 auto;
    width: 600px;
}

.skills img{
    margin-left: 90px;
}

/*Estilos compartidos en ambas pestañas*/
body{
    background-color: #F5F5F5;
    margin: auto;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.container-nav{
    display: flex;
    background-color: #36bed9;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.container-nav h1{
    text-decoration: none;
    font-size: 40px;
    color: white;
    margin: 0 auto;
}

.container-nav div{
    border: solid white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
    transition-property: background;
    transition-duration: 650ms; 
}

.container-nav div:hover{
    background: black;
}

.about-me{
    text-decoration: none;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 40px;
    color: white;

}

.curriculum-vitae{
    text-decoration: none;
    margin-right: 35px;
    margin-left: 35px;
    font-size: 40px;
    color: white;
}

.my-skills{
    text-decoration: none;
    margin-right: 35px;
    margin-left: 35px;
    font-size: 40px;
    color: white;
}

.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #36bed9;
    margin-top: 190px;

}

.footer div img{
    border-radius: 20px;
    width: 40px;
    align-items: center;
    transition-property: background;
    transition-duration: 650ms;    
}

.footer div img:hover{
    background: black;
}

.footer div a{
    margin:  0px 10px 0px 10px;
}



/* Responsive design*/
@media screen and (max-width: 800px){
    .container header{
        width: 100%;
    }

    .container-nav{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .container-nav h1{
        font-size: 25px;
    }

    .container-nav div{
        width: 100px;
        text-align: center;
    }

    .container-nav a{
        text-align: center;
        font-size: 20px;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
    }

    .flex-container p{

        width: 100%;
    }

    .flex-container img{
        width: 100px;
    }

    .footer{
        width: 60%;
    }

    .footer div{
        display: flex;
        flex-direction: column;
    }
    
    body{
        background: red;
    }
}