body{
    background-color: #F5F5F5;
    margin: auto;
}

.container-nav{
    display: flex;
    background-color: #36bed9;
    height: 80px;
    align-items: center;
    justify-content: center;
}

#about-me{
    text-decoration: none;
    margin-left: 35px;
    margin-left: 35px;
    font-size: 40px;
    color: white;
    text-shadow: black 2px 1px;
}

#curriculum-vitae{
    text-decoration: none;
    margin-right: 35px;
    margin-left: 35px;
    font-size: 40px;
    color: white;
    text-shadow: black 2px 1px;
}

section{
    margin-top: 60px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.flex-container div p{
    margin-left: 25px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo{
    margin: 0px 15px 0px 15px;

}

.text{
    width: 500px;
    text-align: justify;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    background-color: #36bed9;

}

.social-media img{
    width: 40px;

}

.social-media a{
    margin:  0px 10px 0px 10px;
}

footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}